* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

ul li {
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  padding: 1rem;
  border-radius: 8px;
  transition: 0.7s ease-in-out;
}

ul li div.icon-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

li:hover {
  transform: scale(1.2);
  z-index: 1;
}

ul:hover li:not(:hover) {
  filter: blur(10px);
}

ul li span {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li p {
  color: #fff;
  text-align: center;
}

ul li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

ul li a svg {
  width: 4rem;
  height: 4rem;
  /* border: 1px solid #ff0000; */
  color: #fff;
}

ul a img {
  border-radius: 8px;
  border: 5px solid #000;
  background-color: #fff;
  transition: 0.5s ease-in-out;
  width: 200px;
}

@media screen and (min-width: 768px) {
  ul li a {
    flex-direction: row;
  }
  ul li {
    min-width: 90%;
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {

  ul li a {
    flex-direction: row;
  }
  ul li {
    width: 100%;
  }
}
