* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

h1.title {
  color: #fff;
  margin-bottom: 1rem;
}

h3 {
  text-align: center;
}

div.card {
  /* border: 1px solid #fff; */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.and {
  margin: -0.5rem 0 -0.5rem 0;
}

div.card .picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: #fff;
  z-index: -1;
}

div.card .picture img {
  width: 97%;
  height: 97%;
  border-radius: 50%;
  object-fit: cover;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

ul li {
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  padding: 1rem;
  border-radius: 8px;
  transition: 0.7s ease-in-out;
}

ul li div.icon-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

li:hover {
  transform: scale(1.2);
  z-index: 1;
}

ul:hover li:not(:hover) {
  filter: blur(10px);
}

ul li span {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li p {
  color: #fff;
  text-align: center;
}

ul li a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

ul li a svg {
  width: 4rem;
  height: 4rem;
  /* border: 1px solid #ff0000; */
  color: #fff;
}

ul a img {
  border-radius: 8px;
  border: 5px solid #000;
  background-color: #fff;
  transition: 0.5s ease-in-out;
  width: 200px;
}

@media screen and (min-width: 768px) {
  ul li {
    width: 100%;
  }
  ul li div {
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) {
  body {
    width: 100%;
    height: 100vh;
  }
  ul {
    flex-direction: row;
  }
  ul li {
    width: 100%;
  }
}
